/* line 5, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 34, ../sass/style.scss */
a {
  text-decoration: none;
  color: #666666;
}

/* line 38, ../sass/style.scss */
a:hover {
  color: #cb1623;
}

/* line 44, ../sass/style.scss */
body {
  font-size: 16px;
  color: #666666;
}

/* line 50, ../sass/style.scss */
#mainheader nav {
  background-color: #f5f5f5;
  margin-left: 30em;
}
/* line 53, ../sass/style.scss */
#mainheader nav li {
  list-style: none;
  float: left;
  font-size: 0.9em;
  line-height: 2em;
  margin: 0 1em;
}
/* line 17, ../sass/style.scss */
#mainheader nav li:after {
  height: 1em;
  background-color: #dddddd;
  width: 2px;
  content: "";
  float: right;
  margin: 0.3em;
}
/* line 25, ../sass/style.scss */
#mainheader nav li:last-child:after {
  background-color: #ffffff;
}
/* line 65, ../sass/style.scss */
#mainheader img {
  width: 100%;
}

/* line 70, ../sass/style.scss */
#mainhero {
  width: 92%;
  margin: 20px auto;
}
/* line 74, ../sass/style.scss */
#mainhero header {
  display: block;
  height: 6em;
}
/* line 78, ../sass/style.scss */
#mainhero header img {
  float: left;
  margin: 0;
}
/* line 82, ../sass/style.scss */
#mainhero header input {
  border: 2px solid #cb1623;
  height: 30px;
  width: 35%;
  float: left;
  margin-left: 5em;
  padding-left: 5px;
}
/* line 90, ../sass/style.scss */
#mainhero header span {
  background-color: #cb1623;
  color: #ffffff;
  display: block;
  padding: auto 1em;
  height: 32px;
  border: 2px solid #cb1623;
  width: 8%;
  margin: auto;
  text-align: center;
  line-height: 2.5em;
  font-weight: bold;
  float: left;
}
/* line 104, ../sass/style.scss */
#mainhero header a {
  display: block;
  float: right;
  width: 10%;
  margin: 0 8%;
  height: 35px;
  text-align: center;
  line-height: 2.5em;
  background-color: #f5f5f5;
  border: #e4e4e4 1px solid;
}
/* line 115, ../sass/style.scss */
#mainhero header a:hover {
  box-shadow: 0 0 5px #dddddd;
  background-color: #ffffff;
}
/* line 121, ../sass/style.scss */
#mainhero aside {
  background-color: #cb1623;
  color: #ffffff;
  width: 209px;
  height: 453px;
  float: left;
  font-size: 0.9em;
  margin: 0 10px 10px 0;
  border-left: #cb1623 solid 1px;
  border-bottom: #cb1623 solid 1px;
}
/* line 132, ../sass/style.scss */
#mainhero aside li {
  padding: 4.5px 10px;
  line-height: 1.5em;
}
/* line 136, ../sass/style.scss */
#mainhero aside li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 142, ../sass/style.scss */
#mainhero aside li:hover {
  background-color: #ffffff;
  color: #cb1623;
}
/* line 145, ../sass/style.scss */
#mainhero aside li:hover a {
  color: #cb1623;
}
/* line 152, ../sass/style.scss */
#mainhero #gallery {
  position: relative;
  float: left;
  width: 730px;
  height: 454px;
  margin: 0 10px 0 0;
}
/* line 159, ../sass/style.scss */
#mainhero #gallery img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 167, ../sass/style.scss */
#mainhero #entrance {
  float: left;
  width: 248px;
  height: 454px;
  margin: 0 10px 10px 0;
}
/* line 173, ../sass/style.scss */
#mainhero #entrance #newsflash {
  border: 1px #e4e4e4 solid;
  border-bottom: none;
  height: 158px;
  line-height: 1.5em;
  padding: 2px 5px 0 5px;
}
/* line 179, ../sass/style.scss */
#mainhero #entrance #newsflash h3 {
  border-bottom: 1px #e4e4e4 solid;
  margin-bottom: 5px;
}
/* line 183, ../sass/style.scss */
#mainhero #entrance #newsflash .more {
  display: inline-block;
  padding-left: 100px;
  font-size: 0.8em;
}
/* line 190, ../sass/style.scss */
#mainhero #entrance table {
  margin: 0 0 5px 0;
}
/* line 194, ../sass/style.scss */
#mainhero #entrance table tr td {
  border: 1px #e4e4e4 solid;
  width: 62px;
  height: 70px;
  text-align: center;
}
/* line 205, ../sass/style.scss */
#mainhero footer {
  clear: both;
}
/* line 208, ../sass/style.scss */
#mainhero footer .roll0 {
  width: 210px;
  margin-bottom: 12px;
}
/* line 213, ../sass/style.scss */
#mainhero footer .roll {
  width: 250px;
  height: 164px;
  overflow: hidden;
}

/* line 224, ../sass/style.scss */
#showcase {
  width: 92%;
  margin: 20px auto;
}
/* line 227, ../sass/style.scss */
#showcase table {
  width: 100%;
}
/* line 229, ../sass/style.scss */
#showcase table td {
  border: 1px #e4e4e4 solid;
}
/* line 232, ../sass/style.scss */
#showcase table .cell {
  width: 25%;
}

/* line 239, ../sass/style.scss */
#mainaside {
  position: fixed;
  top: 200px;
  left: 20px;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 245, ../sass/style.scss */
#mainaside li {
  border-bottom: dotted #c2c2c2 1px;
}
/* line 250, ../sass/style.scss */
#mainaside a:hover {
  background-color: #cb1623;
  color: #ffffff;
}

/* line 258, ../sass/style.scss */
#sidebar #redpacket {
  position: fixed;
  top: 0;
  right: 0;
}
/* line 264, ../sass/style.scss */
#sidebar #toolbar {
  position: fixed;
  bottom: 200px;
  right: 0;
}
/* line 269, ../sass/style.scss */
#sidebar #toolbar li:nth-child(7) {
  position: fixed;
  bottom: 32px;
  right: 0;
}
/* line 274, ../sass/style.scss */
#sidebar #toolbar li:nth-child(8) {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}
/* line 282, ../sass/style.scss */
#sidebar #toolbar li {
  background-color: #7a6e6e;
  width: 32px;
  height: 32px;
  margin-bottom: 1px;
  border-radius: 3px 0 0 3px;
}

/* line 296, ../sass/style.scss */
#mainfooter #dkhs {
  background-color: #f5f5f5;
  width: 100%;
  height: 6em;
  clear: both;
}
/* line 301, ../sass/style.scss */
#mainfooter #dkhs li {
  list-style: none;
  float: left;
  margin: 1.5em 3em;
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
}
/* line 308, ../sass/style.scss */
#mainfooter #dkhs li span {
  display: inline-block;
  color: #cb1623;
  border: solid #cb1623 2px;
  padding: 0.2em;
  margin: auto 0.2em;
  font-size: 1.2em;
}
/* line 320, ../sass/style.scss */
#mainfooter .zhinan {
  clear: both;
  list-style: none;
  float: left;
  width: 15%;
  margin: 1em auto;
}
/* line 327, ../sass/style.scss */
#mainfooter .zhinan dt {
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 333, ../sass/style.scss */
#mainfooter #beian, #mainfooter #chuban {
  clear: both;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 1.5em;
  font-size: 0.9em;
  text-align: center;
}
/* line 342, ../sass/style.scss */
#mainfooter #beian li, #mainfooter #chuban li {
  list-style: none;
  display: inline-block;
  margin-left: 0 auto;
}
/* line 17, ../sass/style.scss */
#mainfooter #beian li:after, #mainfooter #chuban li:after {
  height: 1em;
  background-color: #dddddd;
  width: 2px;
  content: "";
  float: right;
  margin: 0.3em;
}
/* line 25, ../sass/style.scss */
#mainfooter #beian li:last-child:after, #mainfooter #chuban li:last-child:after {
  background-color: #ffffff;
}
