/* line 5, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/style.scss */
a {
  text-decoration: none;
  color: #666666;
}

/* line 41, ../sass/style.scss */
a:hover {
  color: #cb1623;
}

/* line 44, ../sass/style.scss */
.price {
  display: block;
  color: #cb1623;
  font-weight: bold;
}

/* line 51, ../sass/style.scss */
body {
  font-size: 16px;
  color: #666666;
}

/* line 57, ../sass/style.scss */
#mainheader nav {
  background-color: #f5f5f5;
  margin-left: 30em;
}
/* line 60, ../sass/style.scss */
#mainheader nav li {
  list-style: none;
  float: left;
  font-size: 0.9em;
  line-height: 2em;
  margin: 0 1em;
}
/* line 17, ../sass/style.scss */
#mainheader nav li:after {
  height: 1em;
  background-color: #dddddd;
  width: 2px;
  content: "";
  float: right;
  margin: 0.3em;
}
/* line 25, ../sass/style.scss */
#mainheader nav li:last-child:after {
  background-color: #ffffff;
}
/* line 72, ../sass/style.scss */
#mainheader img {
  width: 100%;
}

/* line 77, ../sass/style.scss */
#mainhero {
  width: 92%;
  margin: 20px auto;
}
/* line 81, ../sass/style.scss */
#mainhero header {
  display: block;
  height: 6em;
}
/* line 85, ../sass/style.scss */
#mainhero header img {
  float: left;
  margin: 0;
}
/* line 89, ../sass/style.scss */
#mainhero header input {
  border: 2px solid #cb1623;
  height: 30px;
  width: 35%;
  float: left;
  margin-left: 5em;
  padding-left: 5px;
}
/* line 97, ../sass/style.scss */
#mainhero header span {
  background-color: #cb1623;
  color: #ffffff;
  display: block;
  padding: auto 1em;
  height: 32px;
  border: 2px solid #cb1623;
  width: 8%;
  margin: auto;
  text-align: center;
  line-height: 2.5em;
  font-weight: bold;
  float: left;
}
/* line 111, ../sass/style.scss */
#mainhero header a {
  display: block;
  float: right;
  width: 10%;
  margin: 0 8%;
  height: 35px;
  text-align: center;
  line-height: 2.5em;
  background-color: #f5f5f5;
  border: #e4e4e4 1px solid;
}
/* line 122, ../sass/style.scss */
#mainhero header a:hover {
  box-shadow: 0 0 5px #dddddd;
  background-color: #ffffff;
}
/* line 128, ../sass/style.scss */
#mainhero aside {
  background-color: #cb1623;
  color: #ffffff;
  width: 209px;
  height: 453px;
  float: left;
  font-size: 0.9em;
  margin: 0 10px 10px 0;
  border-left: #cb1623 solid 1px;
  border-bottom: #cb1623 solid 1px;
}
/* line 139, ../sass/style.scss */
#mainhero aside li {
  padding: 4.5px 10px;
  line-height: 1.5em;
}
/* line 143, ../sass/style.scss */
#mainhero aside li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 149, ../sass/style.scss */
#mainhero aside li:hover {
  background-color: #ffffff;
  color: #cb1623;
}
/* line 152, ../sass/style.scss */
#mainhero aside li:hover a {
  color: #cb1623;
}
/* line 159, ../sass/style.scss */
#mainhero #gallery {
  position: relative;
  float: left;
  width: 730px;
  height: 454px;
  margin: 0 10px 0 0;
}
/* line 166, ../sass/style.scss */
#mainhero #gallery img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 174, ../sass/style.scss */
#mainhero #entrance {
  float: left;
  width: 248px;
  height: 454px;
  margin: 0 10px 10px 0;
}
/* line 180, ../sass/style.scss */
#mainhero #entrance #newsflash {
  border: 1px #e4e4e4 solid;
  border-bottom: none;
  height: 158px;
  line-height: 1.5em;
  padding: 2px 5px 0 5px;
}
/* line 186, ../sass/style.scss */
#mainhero #entrance #newsflash h3 {
  border-bottom: 1px #e4e4e4 solid;
  margin-bottom: 5px;
}
/* line 190, ../sass/style.scss */
#mainhero #entrance #newsflash .more {
  display: inline-block;
  padding-left: 100px;
  font-size: 0.8em;
}
/* line 197, ../sass/style.scss */
#mainhero #entrance table {
  margin: 0 0 5px 0;
}
/* line 201, ../sass/style.scss */
#mainhero #entrance table tr td {
  border: 1px #e4e4e4 solid;
  width: 62px;
  height: 70px;
  text-align: center;
}
/* line 212, ../sass/style.scss */
#mainhero footer {
  clear: both;
}
/* line 215, ../sass/style.scss */
#mainhero footer .roll0 {
  width: 210px;
  margin-bottom: 12px;
}
/* line 220, ../sass/style.scss */
#mainhero footer .roll {
  width: 250px;
  height: 164px;
  overflow: hidden;
}

/* line 231, ../sass/style.scss */
#showcase {
  width: 92%;
  margin: 20px auto;
}
/* line 234, ../sass/style.scss */
#showcase h3 {
  font-size: 2em;
}
/* line 237, ../sass/style.scss */
#showcase h3, #showcase h4 {
  font-weight: bold;
  color: #5b3bc4;
  text-align: center;
  line-height: 1.5em;
}
/* line 244, ../sass/style.scss */
#showcase #brand table {
  width: 100%;
  margin: 10px 0;
}
/* line 247, ../sass/style.scss */
#showcase #brand table td {
  border: 1px #e4e4e4 solid;
}
/* line 250, ../sass/style.scss */
#showcase #brand table .cell {
  width: 25%;
  text-align: center;
}
/* line 253, ../sass/style.scss */
#showcase #brand table .cell a:hover {
  color: #cb1623;
}
/* line 257, ../sass/style.scss */
#showcase #brand table .cell span {
  font-size: 0.8em;
  background-color: #cb1623;
  color: #ffffff;
}
/* line 264, ../sass/style.scss */
#showcase #selection table {
  width: 100%;
}
/* line 267, ../sass/style.scss */
#showcase #selection table td {
  border: none;
  padding: 5px;
}

/* line 275, ../sass/style.scss */
#floor {
  width: 92%;
  margin: 20px auto;
}
/* line 279, ../sass/style.scss */
#floor header span {
  background-color: #cb1623;
  color: #ffffff;
  display: inline-block;
  margin-right: 30px;
}
/* line 285, ../sass/style.scss */
#floor header h3 {
  width: 40%;
  font-size: 1.2em;
}
/* line 289, ../sass/style.scss */
#floor header h3, #floor header li {
  float: left;
}
/* line 292, ../sass/style.scss */
#floor header li {
  padding: 5px 10px;
  border-top: 1px #e4e4e4 solid;
}
/* line 17, ../sass/style.scss */
#floor header li:after {
  height: 1em;
  background-color: #dddddd;
  width: 2px;
  content: "";
  float: right;
  margin: 0.3em;
}
/* line 25, ../sass/style.scss */
#floor header li:last-child:after {
  background-color: #ffffff;
}
/* line 297, ../sass/style.scss */
#floor header li:first-child {
  border-left: 1px #e4e4e4 solid;
}
/* line 300, ../sass/style.scss */
#floor header li:last-child {
  border-right: 1px #e4e4e4 solid;
}
/* line 304, ../sass/style.scss */
#floor .floorbody {
  clear: both;
}
/* line 309, ../sass/style.scss */
#floor .floorbody .left {
  width: 330px;
  height: 639px;
  border-top: #cb1623 1px solid;
  border-left: 1px #e4e4e4 solid;
  border-bottom: 1px #e4e4e4 solid;
}
/* line 316, ../sass/style.scss */
#floor .floorbody .left #left1 {
  display: block;
  width: 100%;
  height: 80px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: -220px;
}
/* line 324, ../sass/style.scss */
#floor .floorbody .left #left1 li {
  list-style: none;
  width: 33%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: left;
}
/* line 333, ../sass/style.scss */
#floor .floorbody .left #left2 {
  clear: both;
  display: block;
  width: 100%;
  height: 118px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: relative;
  top: -220px;
}
/* line 343, ../sass/style.scss */
#floor .floorbody .left #left2 li {
  list-style: none;
  width: 50%;
  line-height: 30px;
  float: left;
}
/* line 350, ../sass/style.scss */
#floor .floorbody .left .leftfooter {
  position: relative;
  top: -220px;
  width: 100%;
}
/* line 356, ../sass/style.scss */
#floor .floorbody .right {
  position: relative;
  top: -641px;
  left: -11px;
}
/* line 361, ../sass/style.scss */
#floor .floorbody .right table {
  width: 880px;
  height: 630px;
  border-top: #cb1623 1px solid;
  border-bottom: 1px #e4e4e4 solid;
  border-collapse: collapse;
}
/* line 368, ../sass/style.scss */
#floor .floorbody .right table tr td {
  border: 1px #e4e4e4 solid;
  border-top: none;
  width: 220px;
}
/* line 383, ../sass/style.scss */
#floor footer {
  clear: both;
  width: 100%;
  background-color: #f7f7f7;
  margin: 10px 0;
}
/* line 388, ../sass/style.scss */
#floor footer img {
  width: 119px;
  overflow: hidden;
  padding: 10px 0;
}
/* line 393, ../sass/style.scss */
#floor footer img:after {
  height: 2em;
  border-right: gray dotted 2px;
  width: 1px;
  content: "";
  margin: 0.3em;
}
/* line 400, ../sass/style.scss */
#floor footer:last-child:after {
  border-right: none;
}

/* line 417, ../sass/style.scss */
#sale {
  clear: both;
  width: 92%;
  margin: 20px auto;
}
/* line 422, ../sass/style.scss */
#sale h3 {
  font-size: 1.3em;
  display: inline-block;
  margin: 10px 0;
}
/* line 427, ../sass/style.scss */
#sale #h3-2 {
  position: relative;
  left: 850px;
}
/* line 432, ../sass/style.scss */
#sale table {
  width: 100%;
}
/* line 434, ../sass/style.scss */
#sale table td {
  padding: 15px;
  border: 1px #e4e4e4 solid;
}
/* line 437, ../sass/style.scss */
#sale table td img {
  float: left;
}

/* line 452, ../sass/style.scss */
#mainaside {
  position: fixed;
  top: 200px;
  left: 20px;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 458, ../sass/style.scss */
#mainaside li {
  border-bottom: dotted #c2c2c2 1px;
}
/* line 462, ../sass/style.scss */
#mainaside li:last-child {
  border: none;
}
/* line 466, ../sass/style.scss */
#mainaside a:hover {
  background-color: #cb1623;
  color: #ffffff;
}

/* line 477, ../sass/style.scss */
#sidebar #redpacket {
  position: fixed;
  top: 0;
  right: 0;
}
/* line 483, ../sass/style.scss */
#sidebar #toolbar {
  position: fixed;
  bottom: 200px;
  right: 0;
}
/* line 488, ../sass/style.scss */
#sidebar #toolbar li:nth-child(7) {
  position: fixed;
  bottom: 32px;
  right: 0;
}
/* line 493, ../sass/style.scss */
#sidebar #toolbar li:nth-child(8) {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}
/* line 501, ../sass/style.scss */
#sidebar #toolbar li {
  background-color: #7a6e6e;
  width: 32px;
  height: 32px;
  margin-bottom: 1px;
  border-radius: 3px 0 0 3px;
}

/* line 515, ../sass/style.scss */
#mainfooter #dkhs {
  background-color: #f5f5f5;
  width: 100%;
  height: 6em;
  clear: both;
}
/* line 520, ../sass/style.scss */
#mainfooter #dkhs li {
  list-style: none;
  float: left;
  margin: 1.5em 3em;
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
}
/* line 527, ../sass/style.scss */
#mainfooter #dkhs li span {
  display: inline-block;
  color: #cb1623;
  border: solid #cb1623 2px;
  padding: 0.2em;
  margin: auto 0.2em;
  font-size: 1.2em;
}
/* line 539, ../sass/style.scss */
#mainfooter #zhinan {
  width: 92%;
  height: 150px;
  margin: 20px auto;
  padding: 0 0 20px 0;
  border-bottom: #e4e4e4 solid 1px;
}
/* line 546, ../sass/style.scss */
#mainfooter #zhinan dl {
  list-style: none;
  width: 16%;
  margin: 1em auto;
  display: block;
  float: left;
}
/* line 554, ../sass/style.scss */
#mainfooter #zhinan dl dt {
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 559, ../sass/style.scss */
#mainfooter #zhinan dl a:last-child {
  position: relative;
  top: 20px;
  left: 50px;
}
/* line 568, ../sass/style.scss */
#mainfooter #beian, #mainfooter #chuban, #mainfooter #footer-daohang {
  clear: both;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 1.5em;
  font-size: 0.9em;
  text-align: center;
}
/* line 577, ../sass/style.scss */
#mainfooter #beian li, #mainfooter #chuban li, #mainfooter #footer-daohang li {
  list-style: none;
  display: inline-block;
  margin-left: 0 auto;
}
/* line 17, ../sass/style.scss */
#mainfooter #beian li:after, #mainfooter #chuban li:after, #mainfooter #footer-daohang li:after {
  height: 1em;
  background-color: #dddddd;
  width: 2px;
  content: "";
  float: right;
  margin: 0.3em;
}
/* line 25, ../sass/style.scss */
#mainfooter #beian li:last-child:after, #mainfooter #chuban li:last-child:after, #mainfooter #footer-daohang li:last-child:after {
  background-color: #ffffff;
}
/* line 585, ../sass/style.scss */
#mainfooter #footer-daohang {
  font-size: 1em;
  margin: 10px;
}
