/* line 5, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/color.scss */
body {
  color: #fb5;
  background-color: #334;
}

/* line 9, ../sass/color.scss */
a:link {
  color: #445;
  background-color: #eb6;
}

/* line 13, ../sass/color.scss */
a:visited {
  color: #345;
  background-color: #eb6;
}

/* line 17, ../sass/color.scss */
a:hover {
  color: #667;
  background-color: #fb5;
}

/* line 21, ../sass/color.scss */
a:active {
  color: 778;
  background-color: #ec8;
}

/* line 27, ../sass/color.scss */
header {
  color: #ec8;
  background-color: #334;
  border-color: #667;
}
/* line 32, ../sass/color.scss */
header nav {
  color: #455;
  background-color: #789;
  border-color: #667;
}
/* line 37, ../sass/color.scss */
header nav ul {
  border-color: #99a;
}
/* line 41, ../sass/color.scss */
header nav a:link, header nav a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}
/* line 46, ../sass/color.scss */
header nav a:hover {
  color: #445;
  background-color: #eb6;
}
/* line 50, ../sass/color.scss */
header nav a:active {
  color: #667;
  background-color: #ec8;
}

/* line 57, ../sass/color.scss */
article {
  color: #223;
  background-color: #edc;
  border-color: #667;
}
/* line 62, ../sass/color.scss */
article img {
  border-color: #ba9;
  outline-color: #dcb;
}

/* line 68, ../sass/color.scss */
#imagegallery a {
  background-color: transparent;
}

/* line 72, ../sass/color.scss */
header nav a.here:link,
header nav a.here:visited,
header nav a.here:hover,
header nav a.here:active {
  color: #eef;
  background-color: #799;
}

/* line 80, ../sass/color.scss */
tr.odd td {
  color: #223;
  background-color: #ec8;
}

/* line 84, ../sass/color.scss */
tr.highlight td {
  color: #223;
  background-color: #cba;
}
