/* line 5, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
body {
  width: 90%;
  min-width: 950px;
  margin: 20px auto;
  color: #081C17;
  background-color: #fff;
}

/* line 18, ../sass/style.scss */
h1 {
  font-size: 2.5em;
  padding: 10px 0;
}

/* line 22, ../sass/style.scss */
h2 {
  font-size: 1.8em;
  padding: 5px 0;
}

/* line 26, ../sass/style.scss */
h3 {
  font-size: 1.5em;
  padding: 3px 0;
}

/* line 30, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 33, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 37, ../sass/style.scss */
header {
  margin: 20px 0 10 0;
}
/* line 40, ../sass/style.scss */
header a.logo #logo {
  width: 400px;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 47, ../sass/style.scss */
header h1 {
  opacity: 0;
  position: absolute;
}

/* line 53, ../sass/style.scss */
nav {
  height: 60px;
  width: 100%;
  padding: 0 5px;
  margin: 10px 0 20px 0;
  background-color: #1B6250;
}
/* line 59, ../sass/style.scss */
nav ul {
  text-align: center;
}
/* line 61, ../sass/style.scss */
nav ul li {
  display: inline-block;
}
/* line 63, ../sass/style.scss */
nav ul li a {
  display: inline-block;
  width: 140px;
  height: 60px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-size: 1.2em;
}
/* line 73, ../sass/style.scss */
nav ul li:hover {
  background-color: #0F362C;
}
/* line 76, ../sass/style.scss */
nav ul .current {
  background-color: #0F362C;
}

/* line 83, ../sass/style.scss */
aside {
  width: 40%;
  max-width: 260px;
  background-color: #1B6250;
  float: left;
  padding: 2px;
}
/* line 89, ../sass/style.scss */
aside h2 {
  color: #fff;
  text-align: center;
}
/* line 93, ../sass/style.scss */
aside li {
  height: 30px;
  line-height: 30px;
  margin: 2px;
  background-color: #fff;
  padding: 10px;
}

/* line 102, ../sass/style.scss */
footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  margin: 20px;
  color: #999;
}
/* line 108, ../sass/style.scss */
footer ul {
  list-style: none;
}
/* line 110, ../sass/style.scss */
footer ul li {
  display: inline-block;
  padding: 0 5px;
}
/* line 115, ../sass/style.scss */
footer a:hover {
  color: #1B6250;
}

/* line 120, ../sass/style.scss */
nav {
  margin-bottom: 0;
}

/* line 123, ../sass/style.scss */
#top-gallery {
  width: 100%;
  height: 235px;
  overflow: hidden;
  background-color: #fff;
  border: 5px solid #1B6250;
  border-top: none;
  position: relative;
  margin-bottom: 20px;
}
/* line 132, ../sass/style.scss */
#top-gallery li {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 138, ../sass/style.scss */
#top-gallery li img {
  opacity: 0;
  transition: opacity 1s linear;
  width: 100%;
}
/* line 143, ../sass/style.scss */
#top-gallery li .show {
  opacity: 1;
  transition: opacity 1s linear;
}

/* line 150, ../sass/style.scss */
#mainbody {
  margin-left: 340px;
  padding: 10px;
}
/* line 153, ../sass/style.scss */
#mainbody article {
  margin: 10px 10px 20px 10px;
}
/* line 155, ../sass/style.scss */
#mainbody article h3 {
  border-bottom: 3px double #1B6250;
}
/* line 158, ../sass/style.scss */
#mainbody article p {
  text-indent: 2em;
}
