/* line 5, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/greetingcard.scss */
body {
  font-size: 1.5625vw;
  font-family: "Microsoft Yahei";
  overflow: hidden;
}

/* line 10, ../sass/greetingcard.scss */
#music {
  width: 15vw;
  height: 15vw;
  border: 4px solid #ef1639;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  top: 3vh;
  right: 4vw;
  z-index: 5;
}
/* line 20, ../sass/greetingcard.scss */
#music img:first-of-type {
  position: absolute;
  width: 79%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 29, ../sass/greetingcard.scss */
#music img:last-of-type {
  position: absolute;
  top: 24%;
  right: 2.5%;
  width: 28.421%;
}
/* line 35, ../sass/greetingcard.scss */
#music img.play {
  animation: music_disc 4s linear infinite;
}

@keyframes music_disc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 50, ../sass/greetingcard.scss */
.page .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: none;
}

/* line 58, ../sass/greetingcard.scss */
#page1 .bg {
  background: url("../images/greetingcard/p1_bg.jpg") no-repeat center center;
}
/* line 62, ../sass/greetingcard.scss */
#page1 .p1_lantern {
  width: 45vw;
  height: 71.2vh;
  font-size: 3.506rem;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  background: url("../images/greetingcard/p1_lantern.png") no-repeat center bottom;
  background-size: 100%;
  padding-top: 31vh;
  box-sizing: border-box;
}
/* line 75, ../sass/greetingcard.scss */
#page1 .p1_lantern:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30vw;
  height: 30vw;
  background: #d60b3b;
  opacity: 0.5;
  box-shadow: 0 0 10vw 10vw #d60b3b;
  z-index: -1;
  content: "";
  border-radius: 50%;
}
/* line 91, ../sass/greetingcard.scss */
#page1 .p1_imooc {
  position: absolute;
  right: 0;
  bottom: 9vh;
  left: 0;
  background: url("../images/greetingcard/p1_imooc.png") no-repeat center center;
  background-size: 100%;
  width: 27.656vw;
  height: 18.63vh;
  margin: auto;
}

/* line 104, ../sass/greetingcard.scss */
#page2 .bg {
  background: url("../images/greetingcard/p2_bg.jpg") no-repeat center center;
  display: block;
}

/* line 110, ../sass/greetingcard.scss */
#page3 .bg {
  background: url("../images/greetingcard/p3_bg.jpg") no-repeat center center;
}
