/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/style1.scss */
body {
  font-family: "Microsoft YaHei", "FangSong", serif;
  background-color: #f2f2f2;
  color: #1c1c1c;
  line-height: 1.5em;
}

/* line 31, ../sass/style1.scss */
header {
  height: 3em;
  background-color: #8dd757;
}

/* line 39, ../sass/style1.scss */
.info {
  width: 80%;
  margin: 1em auto;
}
/* line 43, ../sass/style1.scss */
.info h3 {
  font-family: "FZShuTi", "STXingkai", sans-serif;
  font-size: 1.5em;
  color: #8dd757;
  text-align: center;
  margin: 1em auto .5em;
}
/* line 12, ../sass/style1.scss */
.info h3:after {
  content: " ";
  display: block;
  background-color: #8dd757;
  width: 60px;
  height: 3px;
  margin: 0.2em auto;
}
/* line 49, ../sass/style1.scss */
.info ol {
  color: #8dd757;
  list-style-type: upper-roman;
}
/* line 53, ../sass/style1.scss */
.info li {
  list-style-type: circle;
  list-style-position: inside;
  color: #1c1c1c;
}
/* line 58, ../sass/style1.scss */
.info #basic {
  padding: 2em 10em;
}
/* line 62, ../sass/style1.scss */
.info #basic ul {
  float: right;
  list-style-type: none;
}
/* line 68, ../sass/style1.scss */
.info #basic #avatar {
  overflow: hidden;
  border-radius: 100%;
  width: 120px;
}
/* line 73, ../sass/style1.scss */
.info #basic #name {
  font-weight: bold;
}
/* line 78, ../sass/style1.scss */
.info #intent li:first-child {
  list-style-image: url("../images/236-cool.png");
}
/* line 81, ../sass/style1.scss */
.info #intent li:last-child {
  list-style-image: url("../images/072-location.png");
}
/* line 86, ../sass/style1.scss */
.info #expe p {
  font-weight: bold;
}
/* line 89, ../sass/style1.scss */
.info #expe li {
  list-style-image: url("../images/047-stack.png");
}

/* line 98, ../sass/style1.scss */
footer {
  background-color: #8dd757;
  text-align: center;
  padding: 0.8em;
}
