@import "compass/reset";
@import "compass/css3";


$mainbg-color: #ffffff;
$bg-color: #f5f5f5;
$bg-border: #dddddd;
$darkbg-color: #7a6e6e;
$border: #e4e4e4;

$text-color: #666666;
$emtext: #cb1623;
$darktext: #333333;


@mixin partingline() {
	&:after {
		height: 1em;
		background-color: $bg-border;
		width: 2px;
		content: "";
		float: right;
		margin: 0.3em;
	}
	&:last-child:after {
		background-color: $mainbg-color;
	}
}




* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: $text-color;
}
a:hover {
	color: $emtext;
}
.price {
	display: block;
	color: $emtext;
	font-weight: bold;
}


body {
	font-size: 16px;
	color: $text-color;
}

#mainheader {
	nav {
		background-color: $bg-color;
		margin-left: 30em;
		li {
			list-style: none;
			float: left;
			font-size: 0.9em;
			line-height: 2em;
			margin: 0 1em;
			@include partingline();

		}
		

	}
	img {
		width: 100%;
	}
}

#mainhero {
	width: 92%;
	margin: 20px auto;

	header {
		display: block;
		height: 6em;

		img {
			float: left;
			margin: 0;
		}
		input {
			border: 2px solid $emtext;
			height: 30px;
			width: 35%;
			float: left;
			margin-left: 5em;
			padding-left: 5px;
		}
		span {
			background-color: $emtext;
			color: $mainbg-color;
			display: block;
			padding: auto 1em;
			height: 32px;
			border: 2px solid $emtext;
			width:  8%;
			margin: auto;
			text-align: center;
			line-height: 2.5em;
			font-weight: bold;
			float: left;
		}
		a {
			display: block;
			float: right;
			width: 10%;
			margin: 0 8%;
			height: 35px;
			text-align: center;
			line-height: 2.5em;
			background-color: $bg-color;
			border: $border 1px solid;	
		}
		a:hover {
			box-shadow: 0 0 5px #dddddd;
			background-color: $mainbg-color;
		}

	}
	aside {
		background-color: $emtext;
		color: $mainbg-color;
		width: 209px;
		height: 453px;
		float: left;
		font-size: 0.9em;
		margin: 0 10px 10px 0;
		border-left: $emtext solid 1px;
		border-bottom: $emtext solid 1px;

		li {
			padding: 4.5px 10px;
			line-height: 1.5em;

			a {
				color: $mainbg-color;
				text-decoration: none;
			}

		}
		li:hover {
			background-color: $mainbg-color;
			color: $emtext;
			a {
				color: $emtext;
			}
		}


	}
	#gallery {
		position: relative;
		float: left;
		width: 730px;
		height: 454px;
		margin: 0 10px 0 0;

		img {
			position: absolute;
			top: 0;
			left: 0;


		}
	}
	#entrance {
		float: left;
		width: 248px;
		height: 454px;
		margin: 0 10px 10px 0;

		#newsflash {
			border: 1px $border solid;
			border-bottom: none;
			height: 158px;
			line-height: 1.5em;
			padding: 2px 5px 0 5px;
			h3 {
				border-bottom: 1px $border solid;
				margin-bottom: 5px;
			}
			.more {
				display: inline-block;
				padding-left: 100px;
				font-size: 0.8em;
			}
		}

		table {
			margin: 0 0 5px 0;
			
			tr {
				td {
					border: 1px $border solid;
					width: 62px;
					height: 70px;
					text-align: center;
				}
			}

		}
	}

	footer {
		clear: both;

		.roll0 {
			width: 210px;
			margin-bottom: 12px;

		}
		.roll {
			width: 250px;
			height: 164px;
			overflow: hidden;
		}


	}

}

#showcase {
	width: 92%;
	margin: 20px auto;
	h3 {
		font-size: 2em;	
	}
	h3,h4 {
		font-weight: bold;
		color: #5b3bc4;
		text-align: center;
		line-height: 1.5em;
	}

	#brand table {
		width: 100%;
		margin: 10px 0;
		td {
			border: 1px $border solid;
		}
		.cell {
			width: 25%;
			text-align: center;
			a:hover {
				color: $emtext;
			}

			span {
				font-size: 0.8em;
				background-color: $emtext;
				color: $mainbg-color;
			}
		}
	}
	#selection table {
		width: 100%;

		td {
			border: none;
			padding: 5px;

		}
	}
}

#floor {
	width: 92%;
	margin: 20px auto;
	header {
		span {
			background-color: $emtext;
			color: $mainbg-color;
			display: inline-block;
			margin-right: 30px;
		}
		h3 {
			width: 40%;
			font-size: 1.2em;
		}
		h3,li {
			float: left;
		}
		li {
			padding: 5px 10px;
			@include partingline();
			border-top: 1px $border solid;
		}
		li:first-child {
			border-left: 1px $border solid;
		}
		li:last-child {
			border-right: 1px $border solid;
		}
	}
	.floorbody {
		clear: both;
		// border-top: 1px $border solid;
		// border-bottom: 1px $border solid;

		.left {
			width: 330px;
			height: 639px;
			border-top: $emtext 1px solid;
			border-left: 1px $border solid;
			border-bottom: 1px $border solid;

			#left1 {
				display: block;
				width: 100%;
				height: 80px;
				list-style: none;
				background-color: rgba(255,255,255,0.6);
				position: relative;
				top: -220px;
				li {
					list-style: none;
					width: 33%;
					height: 40px;
					text-align: center;
					line-height: 40px;
					float: left;
				}
			}
			#left2 {
				clear: both;
				display: block;
				width: 100%;
				height: 118px;
				list-style: none;
				background-color: rgba(255,255,255,0.8);
				padding:10px;
				position: relative;
				top: -220px;
				li {
					list-style: none;
					width: 50%;
					line-height: 30px;
					float: left;
				}
			}
			.leftfooter {
				position: relative;
				top: -220px;
				width: 100%;
			}	
		}
		.right {
			position: relative;
			top: -641px;
			left: -11px;

			table {
				width: 880px;
				height: 630px;
				border-top: $emtext 1px solid;
				border-bottom: 1px $border solid;
				border-collapse:collapse;
				tr {
					td {
						border: 1px $border solid;
						border-top: none;
						width: 220px;
					}
				}
			}
		}


	}




	footer {
		clear: both;
		width: 100%;
		background-color: #f7f7f7;
		margin: 10px 0;
		img {
			width: 119px;
			overflow: hidden;
			padding:10px 0;
		}
		img:after {
			height: 2em;
			border-right: gray dotted 2px;
			width: 1px;
			content: "";
			margin: 0.3em;
		}
		&:last-child:after {
			border-right: none;
		}






	}


}




#sale {
	clear: both;
	width: 92%;
	margin: 20px auto;
	
	h3 {
		font-size: 1.3em;
		display: inline-block;
		margin: 10px 0;
	}
	#h3-2 {
		position: relative;
		left: 850px;
		
	}
	table {
		width: 100%;
		td {
			padding: 15px;
			border: 1px $border solid;
			img {
				float: left;
			}

		}
	}
}








#mainaside {
	position: fixed;
	top: 200px;
	left: 20px;
	font-size: 0.8em;
	line-height: 2em;
	li {
		border-bottom: dotted #c2c2c2 1px;

	}
	li:last-child {
		border: none;
	}

	a:hover {
		background-color: $emtext;
		color: $mainbg-color;
	}

}




#sidebar {
	#redpacket {
		position: fixed;
		top: 0;
		right: 0;
	}

	#toolbar {
		position: fixed;
		bottom: 200px;
		right: 0;
		
		li:nth-child(7) {
			position: fixed;
			bottom: 32px;
			right: 0;
		}
		li:nth-child(8) {
			position: fixed;
			bottom: 0;
			right: 0;
			margin: 0;
		}


		li {
			background-color: $darkbg-color;
			width: 32px;
			height: 32px;
			margin-bottom: 1px;
			border-radius:3px 0 0 3px;
		}
	}
}



#mainfooter {

	#dkhs {
		background-color: $bg-color;
		width: 100%;
		height: 6em;

		li {
			list-style: none;
			float: left;
			margin: 1.5em 3em;
			font-size: 1.2em;
			font-weight: bold;
			color: $darktext;
			span {
				display: inline-block;
				color: $emtext;
				border: solid $emtext 2px;
				padding: 0.2em;
				margin: auto 0.2em;
				font-size: 1.2em;
			}
		}
		clear: both;
		
	}
	#zhinan {
		width: 92%;
		height: 150px;
		margin: 20px auto ;
		padding: 0 0 20px 0;
		border-bottom: $border solid 1px;
	
		dl {
			list-style: none;
			width: 16%;
			margin: 1em auto;
			display: block;
			float: left;


			dt {

				font-size: 1.2em;
				line-height: 1.5em;
			}
			a:last-child {
				position: relative;
				top: 20px;
				left: 50px;
			}
		}
	}


	#beian,#chuban,#footer-daohang {
		clear: both;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		height: 1.5em;
		font-size: 0.9em;
		text-align: center;

		li {
			list-style: none;
			display: inline-block;
			margin-left: 0 auto;
			@include partingline();
		}
		
	}
	#footer-daohang {
		font-size: 1em;
		margin: 10px;
	}


}